.feedback_button {
    position: fixed;
    bottom: 32px;
    left: 32px;
    background-color: var(--color-white);
    border: 2px solid var(--color-light-grey);
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: var(--medium-shadow);
    transition: transform 0.2s ease, filter 0.2s ease;
    padding-left: 0.2em;
}

.feedback_button:hover {
    transform: scale(1.03);
    filter: brightness(0.95);
}

.feedback_button_icon {
    filter: brightness(0) saturate(100%) invert(35%) sepia(1%) saturate(2441%) hue-rotate(328deg) brightness(87%) contrast(90%);
}

@media (max-width: 768px) {
    .feedback_button {
        width: 4em;
        height: 4em;
    }
}

@media (max-width: 490px) {
    .feedback_button {
        bottom: 16px;
        left: 16px;
    }
}