

.labspage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 40px); /* to account for footer size */
  height: auto;
  overflow: visible;
}

.labspage_banner_section {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background-color: var(--color-white);
}

.labspage_banner_section img {
  object-fit: cover;
  width: 110%;
  height: 120%;
  animation: rotateIn 30s ease;
  animation-iteration-count: infinite;

}

.labspage_banner_text {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: 90%;
  animation: fadeIn 1.5s ease-in-out;
  transition: transform 0.5s ease-out;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.labspage_banner_text:hover {
  transform: translateZ(0) translate(-50%, -50%)  scale(1.01); 
}

.labspage_banner_title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--size-large);
  font-weight: var(--font-bold);
  color: var(--color-white);
  column-gap: 0.4em;
  row-gap: 0em;

}

.labspage_banner_title span:last-of-type {
  font-weight: var(--font-light);
  background: var(--gradient-light-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.labspage_banner_subtitle {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
  text-align: center;
  font-size: var(--size-small);
  font-weight: var(--font-light);
  margin-top: 0.4em;
  color: white;
}

.labspage_banner_url {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
  text-align: center;
  font-size: var(--size-small);
  font-weight: var(--font-light);
  margin-top: 0.4em;
}

.labspage_bottom_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(25vh - 40px); /* to account for footer size */
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  
}

.button_div {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.button_div.sticky {
  position: fixed;
  top: 4rem;
  z-index: 100; 
  width: 5em !important;
  height: 5em !important;
}

.button_div.sticky .micbutton_container:hover:not(.disabled) {
  filter: brightness(1.2); /* Keep brightness effect */
}

.labspage_bottom_text {
  font-size: var(--size-small);
  font-weight: var(--font-extra-light);
  color: var(--color-black);
  text-align: center;
  padding-top: 1em;
}

/*Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: translate(-5%, -10%) rotate(2deg) scale(1);
  }
  25% {
    transform: translate(-5%, -10%) rotate(-2deg) scale(1.03);
  }
  50% {
    transform: translate(-5%, -10%) rotate(1.5deg) scale(1.02);
  }
  75% {
    transform: translate(-5%, -10%) rotate(-1.8deg) scale(1.08);
  }
  100% {
    transform: translate(-5%, -10%) rotate(2deg) scale(1);
  }
}

@media (max-width: 768px) {
  .labspage_banner_title {
    font-size: var(--size-xmedium_3);
    line-height: 1.2em;
    padding-bottom: 0.2em;
  }

  .labspage_banner_subtitle {
    font-size: var(--size-small);
  }

  .labspage_bottom_text{
    font-size: var(--size-xsmall_2);
  }
}

@media (max-width: 650px) {
  .button_div.sticky {
    top: 7rem;
    width: 4em !important;
    height: 4em !important;
  }
}

@media (max-width: 490px) {
  .labspage_banner_title {
    font-size: var(--size-xmedium);
  }

  .labspage_banner_subtitle {
    font-size: var(--size-xsmall_2);
  }
}
