:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-light-grey: #F5F5F5;
  --color-grey: #969696;
  --color-dark-grey: #525252;
  --color-light-blue: #6BC7DC;
  --color-light-green: #EBFFD8;
  --color-dark-blue: #014074;
  --color-black-blue: #021D2C;
  --color-transparent: rgba(0, 0, 0, 0);

  /* Font Weights */
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  /* Font Family */
  --font-base: "Montserrat";

  /* Sizes */
  --size-xxsmall: 12px;
  --size-xsmall: 15px;
  --size-xsmall_2: 16px;
  --size-xsmall_3: 18px;
  --size-small: 20px;
  --size-small_2: 25px;
  --size-medium: 28px;
  --size-xmedium: 30px;
  --size-xmedium_2: 40px;
  --size-xmedium_3: 45px;
  --size-large: 60px;

  /* Shadows */
  --dark-shadow: 1px 4px 15px 8px rgba(0, 0, 0, 0.3);
  --medium-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  --light-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);

  /*Gradients */
  --gradient-light-blue: linear-gradient(90deg, #6BC7DC 0%, #EBFFD8 100%);
  --gradient-light-blue-2: linear-gradient(90deg, #6BC7DC 0%, #EBFFD8 180%);
  --gradient-vertical-dark-blue: linear-gradient(180deg, #6BC7DC 0%, #021D2C 100%);
  --gradient-horizontal-medium-blue: linear-gradient(90deg, #6BC7DC 0%, #014074 100%);
}

* {
  font-family: 'Montserrat', sans-serif;
  /*color: var(--color-white);*/
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}